body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}


.bg-image {
    background-image: url('http://127.0.0.1:5000/static/images/datatypes.jpg');
    border: 1px solid black;
}


.float-right {
    float:right
}

.reduced {
    padding: 0px 10px 0px 90px;
    border: 0px solid blue;
}

.code {
    font-family: courier;
    font-size:16px;
    border: 0px solid green;

}


.center-p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
  
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}


.gradient-bg {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d2ebf9+0,feffff+100 */
background: #d2ebf9; /* Old browsers */
background: -moz-linear-gradient(top,  #d2ebf9 0%, #feffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #d2ebf9 0%,#feffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #d2ebf9 0%,#feffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ebf9', endColorstr='#feffff',GradientType=0 ); /* IE6-9 */
    
}
        
.image-bg1 {
    background-image: url('/static/images/1.jpg');
    overflow: hidden;
    background-size: 350px 180px;
    width: 100%;
    height: 100%;
    position: relative;
}

.image-bg2 {
    background-image: url('/static/images/2.jpg');
    overflow: hidden;
    background-size: 350px 180px;
    width: 100%;
    height: 100%;
    position: relative;
}
    
.image-bg3 {
    background-image: url('/static/images/3.jpeg');
    overflow: hidden;
    background-size: 350px 180px;
    width: 100%;
    height: 100%;
    position: relative;
}
    
.image-bg4 {
    background-image: url('/static/images/4.jpg');
    overflow: hidden;
    background-size: 350px 180px;
    width: 100%;
    height: 100%;
    position: relative;
}

.image-bg5 {
    background-image: url('/static/images/5.jpg');
    overflow: hidden;
    background-size: 350px 180px;
    width: 100%;
    height: 100%;
    position: relative;
}



   
a:hover {
    text-decoration: none;
}
    
.home-card-images{
     display: block;
     margin-left: auto;
     margin-right: auto;
     max-height:150px;
}


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
    overflow: hidden;
}

.testimonials .testimonial-item {
    box-sizing: content-box;
    min-height: 320px;
}

    .testimonials .testimonial-item .testimonial-img {
        width: 90px;
        border-radius: 50%;
        margin: -40px 0 0 40px;
        position: relative;
        z-index: 2;
        border: 6px solid #fff;
    }

    .testimonials .testimonial-item h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0 5px 45px;
        color: #111;
    }

    .testimonials .testimonial-item h4 {
        font-size: 14px;
        color: #999;
        margin: 0 0 0 45px;
    }

    .testimonials .testimonial-item .quote-icon-left,
    .testimonials .testimonial-item .quote-icon-right {
        color: #d8dee1;
        font-size: 26px;
    }

    .testimonials .testimonial-item .quote-icon-left {
        display: inline-block;
        left: -5px;
        position: relative;
    }

    .testimonials .testimonial-item .quote-icon-right {
        display: inline-block;
        right: -5px;
        position: relative;
        top: 10px;
    }

    .testimonials .testimonial-item p {
        font-style: italic;
        margin: 0 15px 0 15px;
        padding: 20px 20px 60px 20px;
        background: #f4f6f7;
        position: relative;
        border-radius: 6px;
        position: relative;
        z-index: 1;
    }

.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

    .testimonials .swiper-pagination .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #fff;
        opacity: 1;
        border: 1px solid #009cea;
    }

    .testimonials .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #009cea;
    }


   
