{% extends "header.html" %}

{% block body %}
<div class="container reduced">
    <div class="row" style="border: 0px solid black;">
        
        <div class="blog-post mt-4">
        <div class="clearfix ">
            <a href="/python">
            <button type="button" class="btn btn-link text-secondary float-right" style="border 1px solid green";>Go Back</button>
            </a>
            
        </div>
            <h2 class="blog-post-title mt-6 mb-4" style="border 1px solid blue;">Getting Started</h2>
            
        <!--<p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>-->

        <h2>What is Python?</h2>
        <p> Python is fast, runs everywhere, friendly and easy to learn programming language. 
        
        <h3>First Program</h3>
        <p>Most programming languages start with writing a simple program to greet the world. Run the example below to check the output of the first program. </p>
        
        <div class="mt-4 mb-4 ml-10">
        <iframe height="300px" align="center" width="50%" src="https://repl.it/@learncode201/python1?lite=true" 
        scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="no" 
        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
        </div>
        
        
        <h3>Try it Out</h3>
        <p>Modify the program by updating text <span class="font-weight-light"><mark>"Hello World!"</mark></span> to <span class="font-weight-light"><mark>"Have a Nice Day!!"</mark></span>. Run the program again to observe the changes on Console.
        
        
        <hr>
        <div class="float-right">
            <a href="/python">
            <button type="button" class="btn btn-link text-secondary">Go Back </button>
            </a>
        </div>
    </div><!-- /.blog-post -->
    </div>
    
    
</div>


{% endblock %}